.height{
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
}

.cart-img{
    height: 60%;
    width: 33%;
}

.cart-img-list{
    width: 20%;
}

.green{
    color: #388e3c;
}

.bold{
    font-weight: 600;
}

.price{
    font-size: 11px;
}

hr{
   background-color: #f1f3f6;
}
