.rating-box{
    margin: 13px 33px;
    background: aliceblue;
    text-align: left;
    padding: 34px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 18px;
}

.rate{
    color: white;
    border-radius: 29px;
    gap: 0px;
    background: #22dc22;
    padding: 4px 8px;

}

.review-label{
    font-size: 24px;
    font-weight: bold;
}

.star-label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.star-label>img{
    height: 5vh;
}

textarea{
    padding: 15px;
    font-size: 16px;
    width: 46vw;
    height: 26vh;
    outline: none;
}